<div class="grid md:grid-cols-2 gap-5">
    <div
    *ngFor="let user of usersDatas$ | async"
    class="shadow-xl p-3 flex justify-between"
  >
    <div>
      <h1 class="font-bold">{{ user.name }}</h1>
      <p>{{ user.username }}</p>
    </div>
    <div class="flex gap-x-3">
      <button
        [routerLink]="['update', user.id]"
        class="bg-teal-500 p-3 hover:bg-teal-600"
      >
        Edit
      </button>
      <button
        (click)="handleDelete(user.id)"
        class="bg-red-500 p-3 hover:bg-red-600"
      >
        Delete
      </button>
    </div>
  </div>
</div>