<div class="max-w-6xl mx-auto p-6">

  <!-- Título -->
  <h1 class="text-3xl font-bold text-center text-gray-800 mb-6">Gestión de Productos</h1>

  <!-- Botón de agregar producto -->
  <div class="flex justify-end mb-4">
    <div class="pt-2 relative mx-auto text-gray-600">
      <input class="border-2 border-gray-300 bg-white h-10 px-5 pr-16 rounded-lg text-sm focus:outline-none"
        type="search" name="search" placeholder="Search" (input)="obtenerProductosFunc($event)">
        <div class="absolute right-0 top-0 mt-5 mr-4">
          <!-- <svg class="text-gray-600 h-4 w-4 fill-current" xmlns="http://www.w3.org/2000/svg"
            xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Capa_1" x="0px" y="0px"
            viewBox="0 0 56.966 56.966" style="enable-background:new 0 0 56.966 56.966;" xml:space="preserve"
            width="512px" height="512px">
            <path
              d="M55.146,51.887L41.588,37.786c3.486-4.144,5.396-9.358,5.396-14.786c0-12.682-10.318-23-23-23s-23,10.318-23,23  s10.318,23,23,23c4.761,0,9.298-1.436,13.177-4.162l13.661,14.208c0.571,0.593,1.339,0.92,2.162,0.92  c0.779,0,1.518-0.297,2.079-0.837C56.255,54.982,56.293,53.08,55.146,51.887z M23.984,6c9.374,0,17,7.626,17,17s-7.626,17-17,17  s-17-7.626-17-17S14.61,6,23.984,6z" />
          </svg> -->
          <img src="../../../images/search.png" class="text-gray-600 h-4 w-4 fill-current" alt="image">
        </div>
    </div>
      <button class="px-6 py-2 bg-blue-500 text-white font-semibold rounded-lg shadow-md hover:bg-blue-600 focus:outline-none" (click)="openModal()">
          Agregar Producto
      </button>
  </div>

  <!-- Tabla de productos -->
  <div class="overflow-x-auto bg-white shadow-md rounded-lg">
      <table class="min-w-full table-auto">
          <thead class="bg-gray-200">
              <tr>
                  <th class="px-4 py-2 text-left text-sm text-gray-600">ID</th>
                  <th class="px-4 py-2 text-left text-sm text-gray-600">Nombre</th>
                  <th class="px-4 py-2 text-left text-sm text-gray-600">Categoría</th>
                  <th class="px-4 py-2 text-left text-sm text-gray-600">SuperCategoría</th>
                  <th class="px-4 py-2 text-left text-sm text-gray-600">Precio</th>
                  <th class="px-4 py-2 text-left text-sm text-gray-600">Stock</th>
                  <th class="px-4 py-2 text-left text-sm text-gray-600">Acciones</th>
              </tr>
          </thead>
          <tbody id="productosTable">
              @for(item of productos; track $index){
                <tr>
                  <td class="px-4 py-2 text-sm text-gray-700">{{item.id}}</td>
                  <td class="px-4 py-2 text-sm text-gray-700">{{item.nombre}}</td>
                  <td class="px-4 py-2 text-sm text-gray-700">{{item.categoriasProd.nombre}}</td>
                  <td class="px-4 py-2 text-sm text-gray-700">{{item.categoriasProd.supercategoria}}</td>
                  <td class="px-4 py-2 text-sm text-gray-700">{{item.precio}}</td>
                  <td class="px-4 py-2 text-sm text-gray-700">{{item.stock}}</td>
                  <td>
                    <!-- Botones de acción -->
                    <button class="px-4 py-1 bg-yellow-500 text-white rounded hover:bg-yellow-600" (click)="obtenerProductoFunc(item)">Editar</button>
                    <button class="px-4 py-1 bg-red-500 text-white rounded hover:bg-red-600">Eliminar</button>
                  </td>
                </tr>
              }
              
              <!-- Agrega más filas según sea necesario -->
          </tbody>
      </table>
      <div *ngIf="productos.length === 0" class="flex items-center justify-center h-20 bg-yellow-100 text-gray-500 text-lg font-medium rounded-lg shadow-inner">
        {{mensajeProductos}}
      </div>
  </div>

  <!-- Modal para agregar o editar producto -->
  <div 
    *ngIf="isModalOpen"
    class="fixed inset-0 z-50 overflow-y-auto"
    aria-labelledby="modal-title"
    role="dialog"
    aria-modal="true"
  >

    <div class="fixed inset-0 flex items-center justify-center bg-custom p-4">
      <div class="w-full max-w-md bg-white rounded-lg shadow-xl p-6 max-h-screen overflow-y-auto">
          <form (ngSubmit)="validarErrores()">
              <div class="mb-4">
                  <label for="nombre" class="block text-sm font-medium text-gray-700">Nombre</label>
                  <input type="text" [(ngModel)]="productoObj.nombre" id="nombre" name="nombre" class="w-full px-4 py-2 border border-gray-300 rounded-md focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-transparent" required>
                  <div *ngIf="errors.nombre">
                    <p class="text-sm font-normal text-red-700 mt-1">
                      {{errors.nombre}}
                    </p>
                  </div>
              </div>
  
              <div class="mb-4">
                <mat-form-field>
                  <mat-label>Seleccionar una Categoría</mat-label>
                  <mat-select [(ngModel)]="productoObj.categoriasProd" name="categoria">
                    <mat-option
                      *ngFor="let cat of categorias"
                      [value]="cat"
                    >
                      {{cat.Nombre}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
                <div *ngIf="errors.categoria">
                  <p class="text-sm font-normal text-red-700 mt-1">
                    {{errors.categoria}}
                  </p>
                </div>
              </div>
              <div class="mb-4">
                  <label for="precio" class="block text-sm font-medium text-gray-700">Precio</label>
                  <input type="number" [(ngModel)]="productoObj.precio" id="precio" name="precio" class="w-full px-4 py-2 border border-gray-300 rounded-md focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-transparent" required>
                  <div *ngIf="errors.precio">
                    <p class="text-sm font-normal text-red-700 mt-1">
                      {{errors.precio}}
                    </p>
                  </div>
              </div>
  
              <div class="mb-4">
                  <label for="stock" class="block text-sm font-medium text-gray-700">Stock</label>
                  <input type="number" [(ngModel)]="productoObj.stock" id="stock" name="stock" class="w-full px-4 py-2 border border-gray-300 rounded-md focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-transparent" required>
                  <div *ngIf="errors.stock">
                    <p class="text-sm font-normal text-red-700 mt-1">
                      {{errors.stock}}
                    </p>
                  </div>
              </div>
  
              <div class="mb-4">
                  <label for="descripcion" class="block text-sm font-medium text-gray-700">Descripción</label>
                  <textarea id="descripcion" [(ngModel)]="productoObj.descripcion" name="descripcion" class="w-full px-4 py-2 border border-gray-300 rounded-md focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-transparent"></textarea>
                  <div *ngIf="errors.descripcion">
                    <p class="text-sm font-normal text-red-700 mt-1">
                      {{errors.descripcion}}
                    </p>
                  </div>
              </div>

              <div class="mb-4">
                <mat-form-field>
                  <mat-label>Fecha</mat-label>
                  <input matInput [matDatepicker]="picker" [(ngModel)]="productoObj.fecha_Creacion" name="fecha_Creacion">
                  <mat-hint>MM/DD/YYYY</mat-hint>
                  <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                  <mat-datepicker #picker></mat-datepicker>
                </mat-form-field>
                <div *ngIf="errors.fecha">
                  <p class="text-sm font-normal text-red-700 mt-1">
                    {{errors.fecha}}
                  </p>
                </div>
              </div>
  
              <div class="flex justify-end">
                  <button type="submit" class="px-6 py-2 bg-green-500 text-white font-semibold rounded-lg shadow-md hover:bg-green-600 focus:outline-none">Guardar</button>
                  <button type="button" id="closeModalButton" class="px-6 py-2 bg-gray-500 text-white font-semibold rounded-lg shadow-md hover:bg-gray-600 focus:outline-none ml-4" (click)="closeModal()">Cancelar</button>
              </div>
          </form>
      </div>
  </div>

  <div 
      *ngIf="isModalConfirmationOpen"
      class="fixed inset-0 z-50 overflow-y-auto"
      aria-labelledby="modal-title"
      role="dialog"
      aria-modal="true"
    >
      <div class="fixed inset-0 flex items-center justify-center bg-custom p-4">
        <div class="bg-white rounded-2xl shadow-xl p-6 w-full max-w-sm">
          <h2 class="text-xl font-semibold mb-4 text-gray-800">¿Estás seguro?</h2>
          <p class="text-gray-600 mb-6">
            Seguro que desea agregar el producto?
          </p>
          <div class="flex justify-end space-x-4">
            <button
              (click)="this.closeModalConfirmation(false)"
              class="px-4 py-2 bg-gray-200 text-gray-800 rounded-xl hover:bg-gray-300 transition"
            >
              Cancelar
            </button>
            <button
              (click)="this.closeModalConfirmation(true)"
              class="px-4 py-2 bg-red-600 text-white rounded-xl hover:bg-red-700 transition"
            >
              Confirmar
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>